* {
    padding: 0.px;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: rgb(249, 253, 253);
}

.botones {
    display: flex;
    margin-left: 60%;
    height: 25px;
    border-bottom: 1px solid rgb(79, 74, 74);
}

header {
    margin: 10px;
    height: 62px;
    border-bottom: 1px solid rgb(230, 223, 223);
    display: grid;
    grid-row: auto auto auto auto;
    grid-column: auto auto;
}

.container {
    display: flex;
    justify-content: space-evenly;
}

.tarjeta {
    border-radius: 3px;
    display: flex;
    text-align: center;
    width: 266px;
    height: 221px;
    border: 1px solid #7e7d7d;
    flex-direction: column;
    justify-content: space-around;
}

.iniciales-nombre {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.iniciales-nombre .h3 {
    font-size: 25px;
    color: white;
    width: 70px;
    line-height: 70px;
    border-radius: 5px;
    background: rgb(242, 141, 242);
}

.iniciales-nombre span {
    color: #7e7d7d;
}

.integrantes {
    color: white;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

.integrante {
    border-radius: 50%;
    line-height: 45px;
    width: 45px;
    gap: 10px;
}

.circuloJB {
    background: rgb(169, 126, 238);
}

.circuloDG {
    background: rgb(111, 208, 225);
}

.circuloDG {
    background: rgb(236, 139, 189);
}

.circuloDR {
    background: rgb(111, 208, 225);
}

.circuloRN {
    background: rgb(111, 225, 126);
}

.Quitar {
    text-align: right;
    color: red;
    text-decoration: underline;
}